*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
   
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    padding: 40px 60px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.img {
    height: 80px;
    width: 80px;
}
.img img{
    height: 100%;
    width: 100%;
}

.links {
    display: flex;
    align-items: center;
    gap: 60px;
    text-transform: uppercase;
    font-weight: 500;
}

button {
    padding: 20px 35px;
    background-color: black;
    color: white;
    border: none;
   font-weight: 600;
   cursor: pointer;

}

section {
    position: relative;
    height: 60%;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    justify-content: center;
    flex-direction: column;
   
}

h1 {
    margin: 0;
    font-size: 300px;
    line-height: 0.75; 
    display: flex;
    justify-content: center;
    color: transparent; 
    -webkit-text-stroke: 2px rgb(164, 162, 162);
}

.car-div {
    position: absolute;
    height: 80%;
    width: 100%;
    top: 0%;
    display: flex;
    justify-content:center;
}

.car-div img{
    height: 180%;
    width: 80%;
    display: block;
    
}

footer {
    display: flex;
    margin-top: 30px;
    justify-content: space-between; /* it work under display flex*/

}

#porsche {
    font-weight:400;
    margin: 0;
}
#dets {
    font-size: 40px;
    color: gray;
    margin: 0;
}

footer > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.mid {
    display: flex;
    gap: 30px;
}

.mid div p,
.mid div h2 {
    line-height: 1;
    margin: 0;
}

.mid h2 {
    color: gray;
}

.imgdiv {
    display: flex;
    gap: 20px;
}
.imgbox {
    margin-top: 10px;
    height: 100px;
    width: 150px;
    background-color: pink;
}

.imgbox>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

    
    